{% extends 'main/layout.html' %}
{% load static %}
{% block title%}Про нас{% endblock %}

{% block content %}
    <div class="info">
        <p>Работаем для вас с 2014 года!</p>
        <p>Наш адрес: улица пушкина дом колотушкина (БЦ Легион)</p>
    </div>
    <span class="infotext">Лаборатория  проводит лабораторные исследования грунта по агрохимическим и <br>
        экотоксикологическим показателям. Выполняет радиологические исследования проб окружающей среды,<br>
        включая оценку радоноопасности территории. Точность и достоверность исследований подтверждаются<br>
        аттестатом на техническую компетентность, свидетельством о состоянии измерений в лаборатории и<br>
        регулярным участием в межлабораторных сравнительных испытаниях. Лабораторные исследования
        для грунта проводятся по утвержденным методикам в соответствии с действующими стандартами, правилами <br>
        и нормами на современном сертифицированном оборудовании. Оборудование для исследований имеет<br>
        программное обеспечение, что позволяет упростить и ускорить процесс обработки полученных результатов.</span>
{% endblock %}
