#header{
    position: absolute;
    background: #15056c;
    width: 100vw;
    padding: 2.5%;
    height: 20vh;
    color: black;
    border-bottom: 5px solid #4d4d4d;
}
#header img{
    width: 100px;
    float: left;

}
#header .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 10%;
}

#header ul{list-style: none}
#header ul li, #header ul a{
    position: relative;
    top: 65%;
    left: 40%;
    margin-left: 2vw;
    margin-top: 0.5vh;
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    font-size: 45px;
    transition: transform .6s ease;
}
#header ul li:hover,#header ul a:hover{
    color: #9393d5;
    text-decoration: none;
    transform: scale(1.10);
}
menu{
    position: absolute;
    left: 20%;
    top:50%;
}
.map{
    position: absolute;
    left: 5vw;
    top: 25vh;
    width: 50vw;
    height: 50vh;
}
.map span{
    color: black;
    font-size: 30px;
}
form{
    position: absolute;
    left: 65vw;
    top: 35vh;
    width: 30vw;
    height: 45vh;
    border: 10px  solid #433c7c;
    border-radius: 20px;
    background: #9393d5;
    padding:10px 20px 20px 30px;
}
form p{
    font-size: 20px;
}
.info{
    position: absolute;
    left: 5vw;
    top: 20vh;
    color: black;
}
.address{
    position: absolute;
    left: 5vw;
    top: 30vh;
    width: 40vw;
    height: 50vh;
}
.infotext{
    color: black;
     position: absolute;
    left: 45vw;
    top: 30vh;
    font-size: 20px;
}
.social{
     position: absolute;
    left: 85vw;
    top: 5vh;
    width: 50px;
}